*{
 box-sizing: border-box; 
 padding: 0;
 margin: 0;  
}


.container div{
height: 100px;
border: 3px solid black;
background-color: #fff;
}

.header_col{
    width: 25%;
    height: 50px;
    border: 1px solid black;
}
.div_row {
    /* display: flex; */
    height: 50px;
    width: 100%;
}
.col-4{
    width: 33.33%;
}
.block-1{
    width: 100%;
    height: 33.33%;
}
.block-2{
    width: 100%;
    height:  33.33%;
}